<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="remote" sequenceNumber="29">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.8.0.v20130813-1853"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.8.0.v20140114-1344"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.0.v20140110-1610"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.1.0.v20140110-1610"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.jcl" version="1.7.2.v20130115-1340"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.jcl.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.log4j.source" version="1.7.2.v20130115-1340"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.ext.source" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
<location path="${workspace_loc:/org.elyast.fiddle.parent/deps}" type="Directory"/>
</locations>
</target>
